.select {
  width: 200px;
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  line-height: var(--lh-normal);
}

.trigger {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--space-700);
  padding: 0 var(--space-300);
  border-radius: 5px;
  background: var(--color-dropdown-bg);
  color: var(--color-dropdown-text);
  box-shadow: var(--color-dropdown-shadow);
  cursor: pointer;
}

.trigger[data-focus-visible] {
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: 2px;
}

.value {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chevron {
  display: flex;
  align-items: center;
  color: var(--color-dropdown-text);
}

@media (prefers-reduced-motion: no-preference) {
  .chevron {
    transition: transform 0.2s ease;
  }
}

.select[data-open] .chevron {
  transform: rotate(180deg);
}

.popover {
  width: 200px;
  background: var(--color-dropdown-bg);
  color: var(--color-dropdown-text);
  border-radius: 5px;
  box-shadow: var(--color-dropdown-shadow);
}

@keyframes slide {
  from {
    transform: translateY(-8px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .popover[data-entering] {
    animation:
      slide 1000ms cubic-bezier(0.421, 1.023, 0.121, 0.938),
      fade 400ms ease-out backwards;
  }

  .popover[data-exiting] {
    animation:
      slide 300ms ease-in reverse,
      fade 150ms 150ms ease-in reverse;
  }
}

.listbox {
  display: flex;
  flex-direction: column;
  outline: none;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 12px var(--space-200);
  animation: fade 300ms ease-out backwards 150ms;
}

.item {
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  padding: var(--space-50) var(--space-100);
}

.item[data-focused] {
  background: var(--color-dropdown-item-focused);
}
