.controls {
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
}

.searchWrapper {
  width: 100%;
}

@media (min-width: 70rem) {
  .controls {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .searchWrapper {
    max-width: 480px;
  }
}
