.card {
  background: var(--color-card-bg);
  color: var(--color-card-text);
  box-shadow: var(--color-card-shadow);
  border-radius: 5px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 264 / 160;
}

.content {
  padding: 24px 24px 48px 24px;
}

.heading {
  font-family: var(--font-family);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-md);
  line-height: var(--lh-normal);
}

.infoList {
  margin-top: var(--space-200);
}
